<?xml version="1.0" encoding="utf-8" ?>
<STATE>
  <Node type = "A"  descriptionType = "Card Read State"  
                    numePart1 = "Screen Number"
                    numePart2 = "Good Read Next State Number" 
                    numePart3 = "Error (Misread) Screen Number"
                    numePart4 = "Read Condition 1"
                    numePart5 = "Read Condition 2"
                    numePart6 = "Read Condition 3"
                    numePart7 = "Card Return Flag"
                    numePart8 = "No FIT Match Next State Number"
                    descriprionPart1 = "Display screen that prompts the cardholder to enter the card. While the terminal is waiting for card entry, this screen is displayed."
                    descriprionPart2 = "State number to which the terminal goes:\r\n1. Following a good read of the card if FITs are not used (Table entry 9 = 000) \r\nor 2. If the Financial Institution number on the card matches a Financial Institution number in a FIT."
                    descriprionPart3 = "If the read conditions are not satisfied due to a bad card or a mechanism error, the card is ejected and this screen is displayed."
                    descriprionPart4 = "These three entries specify which card track(s)and/or chip data will be read. The possible values for these entries are shown below this table."
                    descriprionPart5 = "These three entries specify which card track(s)and/or chip data will be read. The possible values for these entries are shown below this table."
                    descriprionPart6 = "These three entries specify which card track(s)and/or chip data will be read. The possible values for these entries are shown below this table."
                    descriprionPart7 = "Tells the terminal when the card should be returned to the cardholder:\r\n000 - eject the card immediately.\r\n001 - return the card as specified by a Transaction Reply command message."
                    descriprionPart8 = "State number to which the terminal goes if either the Financial Institution number on the card does not match any FIT, or if the card reader is a smart card reader and the read condition being evaluated has the chip connect bit set (bit 3). If FITs are not used this entry must be 000."
   />
  <Node type = "B"  descriptionType = "PIN Entry State"  
                    numePart1 = "Screen Number"
                    numePart2 = "Time-Out Next State Number" 
                    numePart3 = "Cancel Next State Number"
                    numePart4 = "Local PIN Check Good PIN"
                    numePart5 = "Local PIN Check Maximum Bad"
                    numePart6 = "Local PIN Check Error Screen Number"
                    numePart7 = "Remote PIN Check Next State Number"
                    numePart8 = "Local PIN Check Maximum PIN retries"
                    descriprionPart1 = "Display screen that prompts the cardholder to enter the PIN the first time. This screen, which is displayed on entering the PIN Entry state, must leave the cardholder screen cursor at the start of the PIN Entry display area. An ‘X’ is displayed for each key pressed."
                    descriprionPart2 = "State number to which the terminal goes if the cardholder does not enter the PIN within the permitted time limit. Enter 255 if the time-out function is not required."
                    descriprionPart3 = "State number to which the terminal goes if the cardholder presses the Cancel key before the maximum number of digits specified for the PIN have been entered."
                    descriprionPart4 = "State number to which the terminal goes after verification of a correct PIN entry. A Pre-Set Operation Code Buffer state (clearing the function key buffer before Transaction Selection) usually follows a correct PIN entry."
                    descriprionPart5 = "State number to which the terminal goes if the correct PIN has not been entered after the number of attempts allowed by table entry 9. The terminal normally enters a Close state if this occurs."
                    descriprionPart6 = "Display screen that prompts the cardholder to reenter the PIN. This screen is displayed after each incorrect PIN entry attempt. An ‘X’ is displayed for each key pressed. After the number of re-entry attempts allowed by table entry 9, the terminal enters the state determined by table entry 6."
                    descriprionPart7 = "State number to which the terminal goes when local PIN verification is not performed."
                    descriprionPart8 = "Maximum number of incorrect PIN entries allowed before the terminal enters the state determined by table entry 6."
   />
  <Node type = "C"  descriptionType = "Envelope Dispenser State"  
                    numePart1 = "Next State Number"
                    numePart2 = "Reserved" 
                    numePart3 = "Reserved"
                    numePart4 = "Reserved"
                    numePart5 = "Reserved"
                    numePart6 = "Reserved"
                    numePart7 = "Reserved"
                    numePart8 = "Reserved"
                    descriprionPart1 = "State number that the terminal enters immediately or after an envelope is presented."
                    descriprionPart2 = ""
                    descriprionPart3 = ""
                    descriprionPart4 = ""
                    descriprionPart5 = ""
                    descriprionPart6 = ""
                    descriprionPart7 = ""
                    descriprionPart8 = ""
   />
  <Node type = "D"  descriptionType = "Pre-Set Operation Code Buffer State"  
                    numePart1 = "Next State Number"
                    numePart2 = "Clear Mask" 
                    numePart3 = "‘A’ Pre-Set Mask"
                    numePart4 = "‘B’ Pre-Set Mask"
                    numePart5 = "‘C’ Pre-Set Mask"
                    numePart6 = "‘D’ Pre-Set Mask"
                    numePart7 = "Must be 000 for each entry"
                    numePart8 = "Extension State Number"
                    descriprionPart1 = "State number to which the terminal goes after presetting the Operation Code buffer."
                    descriprionPart2 = "Specifies bytes of Operation Code buffer to be cleared to graphic ‘space’. Each bit relates to a byte in the Operation Code buffer. If a bit is zero, the corresponding entry is cleared. If a bit is one, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart3 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘C’. If a bit is one, the corresponding entry is set to ‘A’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart4 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘C’. If a bit is one, the corresponding entry is set to ‘B’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart5 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘C’. If a bit is one, the corresponding entry is set to ‘C’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart6 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘D’. If a bit is one, the corresponding entry is set to ‘D’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart7 = "Reserved"
                    descriprionPart8 = "State number of the Extension state containing information on how the other operation codes are pre-set."
   />
  <Node type = "Z"  descriptionType = "Extension to State D"  
                    numePart1 = "‘F’ Pre-Set Mask"
                    numePart2 = "‘G’ Pre-Set Mask" 
                    numePart3 = "‘H’ Pre-Set Mask"
                    numePart4 = "‘I’ Pre-Set Mask"
                    numePart5 = "Reserved"
                    numePart6 = "Reserved"
                    numePart7 = "Reserved"
                    numePart8 = "Reserved"
                    descriprionPart1 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘F’. If a bit is one, the corresponding entry is set to ‘F’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart2 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘G’. If a bit is one, the corresponding entry is set to ‘G’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart3 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘H’. If a bit is one, the corresponding entry is set to ‘H’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart4 = "The buffer contains eight bytes. This entry sets the specified bytes to ‘I’. If a bit is one, the corresponding entry is set to ‘I’. If a bit is zero, the corresponding entry is unchanged. See Table Note 3."
                    descriprionPart5 = "Must be 000"
                    descriprionPart6 = "Must be 000"
                    descriprionPart7 = "Must be 000"
                    descriprionPart8 = "Must be 000"
   />
  <Node type = "E"  descriptionType = "Four FDK Selection Function State"  
                    numePart1 = "Screen Number"
                    numePart2 = "Time-Out Next State Number" 
                    numePart3 = "Cancel Next State Number"
                    numePart4 = "FDK ‘A’ (or ‘I’)"
                    numePart5 = "FDK ‘B’ (or ‘H’)"
                    numePart6 = "FDK ‘C’ (or ‘G’)"
                    numePart7 = "FDK ‘D’ (or ‘F’)"
                    numePart8 = "Buffer Location"
                    descriprionPart1 = "Display screen that requests the cardholder to choose between transaction types, account names, and so on. This screen must be aligned with the active FDKs, and is displayed when the terminal enters the Four FDK Selection Function state. For details, see the “C – Cardholder Display” section in Chapter 3, “Screen Data”."
                    descriprionPart2 = "State number to which the terminal goes if the cardholder does not respond to the screen message within the permitted time limit. Enter 255 if the time-out function is not required."
                    descriprionPart3 = "State number to which the terminal goes if the Cancel key is pressed."
                    descriprionPart4 = "State number to which the terminal goes if the specified FDK or touch area is pressed. (Base 10 range 000-254 or 256-999) (Base 36 range 000-254 or 256-ZZZ) Enter 255 to deactivate any FDK or touch area."
                    descriprionPart5 = "State number to which the terminal goes if the specified FDK or touch area is pressed. (Base 10 range 000-254 or 256-999) (Base 36 range 000-254 or 256-ZZZ) Enter 255 to deactivate any FDK or touch area."
                    descriprionPart6 = "State number to which the terminal goes if the specified FDK or touch area is pressed. (Base 10 range 000-254 or 256-999) (Base 36 range 000-254 or 256-ZZZ) Enter 255 to deactivate any FDK or touch area."
                    descriprionPart7 = "State number to which the terminal goes if the specified FDK or touch area is pressed. (Base 10 range 000-254 or 256-999) (Base 36 range 000-254 or 256-ZZZ) Enter 255 to deactivate any FDK or touch area."
                    descriprionPart8 = "Defines the Operation Code buffer byte in which the keycode for the selected FDK is stored.\r\nEntry Value - Position in Buffer\r\n‘000’ - 1st byte\r\n‘001 - 2nd byte’\r\n‘002’\r\n‘003’\r\n‘004’\r\n‘005’\r\n‘006’\r\n‘007’ - 8th byte\r\n"
   />
</STATE>

<!--
  <Node type = ""  descriptionType = ""  
                    numePart1 = ""
                    numePart2 = "" 
                    numePart3 = ""
                    numePart4 = ""
                    numePart5 = ""
                    numePart6 = ""
                    numePart7 = ""
                    numePart8 = ""
                    descriprionPart1 = ""
                    descriprionPart2 = ""
                    descriprionPart3 = ""
                    descriprionPart4 = ""
                    descriprionPart5 = ""
                    descriprionPart6 = ""
                    descriprionPart7 = ""
                    descriprionPart8 = ""
   />
-->